{%  extends 'user/base.html' %}
{% load static %}

{% block title %}
	<title>{{ question.question_text }}</title>
{% endblock title %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}?{% now 'U' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/home-style.css' %}?{% now 'U' %}">
{% endblock style %}

{% block header %}
	<div class="jumbotron-fluid main-theme-bg smaller-padding d-flex justify-content-between">
		<h5 class="mt-1"><a href="{% url 'home:home' %}" class="white-color">QuickPoll</a></h5>
		<div class="d-flex ml-2s">
			<a href="{% url 'createPoll:createPoll' %}"><button class="btn btn-primary mr-2">Create Poll</button></a>
			<a href="{% url 'userProfile:userProfile' %}"><button class="btn btn-outline-info ml-2" style="border-radius:50%"><i class="fa fa-user"></i></button></a>
		</div>
	</div>
{% endblock header %}

{% block content %}

		{% if questions %}
		<div class="choice-container">
			{% for question in questions %}
				<div class="container polls w-screen-auto p-0 bg-light mt-5 rounded ">
					<div class="poll-header p-2 rounded-top">
						<h4 class="question">{{ question.question_text }}</h4>
					</div>
					<div class="poll-body pt-3 {% if question.id in votedQuestionID %}pl-2 pr-2{% endif %}">
						{% if question.id not in votedQuestionID %}
							<ul>
								{% for choice in question.choices_set.all %}
									<li class="choice__li " data-id="{{ choice.id }}" question-id="{{ question.id }}" onclick="">
										<p>{{ choice.choice }}</p>
									</li>
								{% endfor %}
							</ul>
						{% else %}
							<p class="p-2 mb-1 text-center text-muted"><mark>You already voted</mark></p>
							{% for choice in question.choices_set.all %}
								<div class="container poll-result rounded d-flex flex-column p-2 mb-3 shadow-sm">
									<div class="d-flex justify-content-between">
										<h5>{{ choice.choice }}</h5>
										<h5 class="text-muted ml-2">{{ choice.votePercentage }}%</h5>
									</div>
									<div class="progress" style="height: 7px">
									  	<div class="progress-bar bg-info" role="progressbar" style="width: {{ choice.votePercentage  }}%" aria-valuenow="{{ choice.votePercentage  }}" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
									<p class="text-muted font-weight-bolder">{{ choice.votes }} vote{{ choice.votes|pluralize }}</p>
								</div>
							{% endfor %}
						{% endif %}
					</div>
					<div class="poll-footer p-2 d-flex justify-content-between rounded-bottom">
						<small class="{% if question.pollBy == user %}text-light{% endif %}">{% if question.pollBy != user %}<a href="{% url 'userProfile:viewProfile' question.pollBy %}">- <b>{{ question.pollBy }}</b></a>{% else %}- <b>{{ question.pollBy }}</b>{% endif %}</small>
						<small class="text-muted"><b>{{ question.pub_date }}</b></small>
					</div>
				</div>
			{% endfor %}
		</div>
		{% else %}
			<div class="container polls w-screen-auto p-0 mt-5 rounded border">
				<div class="poll-header p-2 rounded-top">
					<h4 class="question text-center">It seems there are no Polls.</h4>
				</div>
			</div>
		{% endif %}
	<div class="modal modal-fade" id="message-modal">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body">
					<div class="d-flex justify-content-between">
		              <h5 style="font-family:calibri" id="message"></h5>
		              <button type="button" class="close" onfocus="this.style.outline='none'" data-dismiss="modal" aria-label="Close">
		                <span aria-hidden="true">&times;</span>
		              </button>
		            </div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}

{% block script %}
	<script type="text/javascript" src="{% static 'js/vote.js' %}"></script>
{% endblock script %}