
body {
	font-family:calibri;
}

::selection {
	background:#272343;
	color:#bae8e8;
}


/*COLOR SCHEME*/
.main-theme-bg {
	background:#272343;
}
.main-theme-color {
	color:#272343;
}
.white-bg {
	background:#FFFFFF;
}
.white-color {
	color:#FFFFFF;
}
.sky-blue-bg {
	background:#bae8e8;
}
.sky-blue-color {
	color:#bae8e8;
}
.light-sky-blue-bg {
	background:#e3f6f5;
}
.light-sky-blue-color {
	color:#e3f6f5;
}

/*PADDING SCHEME*/
.wider-padding {
	padding:2% 1%;
}
.smaller-padding {
	padding:0.5% 1%;
}


.form-control:focus {
	box-shadow:none;
}

.btn:disabled:hover {
	cursor:not-allowed;
}

/*Width*/
.w-40 {
	width:40%
}
.w-65 {
	width:65%;
}
@media screen and (max-width:650px) {
	.w-screen-auto {
		width:95%;
	}
}
@media screen and (min-width:651px) and (max-width:800px) {
	.w-screen-auto {
		width:65%;
	}
}
@media screen and (min-width:801px) {
	.w-screen-auto {
		width:55%;
	}
}

a.white-color:hover {
	color:#bae8e8;
	text-decoration:none;
}